<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script>
    const urls = {
      index: "{{ url_for('index') }}",
      login: "{{ url_for('login') }}",
      generatePlaylist: "{{ url_for('generate_playlist') }}",
    };
  </script>
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  <link rel="icon" href="{{ url_for('static', filename='spotify-favicon.png') }}">
  <title>Spotify AI Playlist Generator</title>
</head>

<body>
  <div class="container">
    <h1>Spotify AI Playlist Generator</h1>
    <input type="button" id="login-button" class="button" value="Login with Spotify">
  </div>
</body>

</html>